.Header {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    padding: 20px 0 20px 0;
    background-color: #2c2c2c;
    z-index: 1;
}

img {
    cursor: pointer;
}

.header-links {
    padding: 14px 0;
}

.header-links a {
    color: white;
    font-size: 22px;
    padding: 10px 50px;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 4px;
}

.header-links a:hover {
    background-color: #1f1f1f;
}

.header-links a:active {
    text-decoration: underline;
}

.tools {
    display: flex;
}

.tools img {
    width: 62px;
    height: 62px;
}
